<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Hello Vue</title>
    <style media="screen">
        .table th, td {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Gugudan</h1>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th v-for="k in end">{{ k }} 단</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i in end">
                    <td v-for="j in end">{{ j }}x{{ i }}={{ i*j }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '.container',
        data: {
            end: 9
        }
    })
</script>

</html>
