<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="example">
      <form action="#" method="post">
        <div>
          <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
          <label for="jack">Jack</label>
          <input type="checkbox" id="john" value="John" v-model="checkedNames">
          <label for="john">John</label>
          <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
          <label for="mike">Mike</label>
          <br>
          <span>체크한 이름: {{ checkedNames }}</span>
        </div>
      </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      var vm = new Vue({
        el: '#example',
        data: {
          checkedNames: []
        }
      })
    </script>
  </body>
</html>
